html, body{
	font-family: 'Source Sans Pro', sans-serif;

}
body {
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("../img/body-background.png");
		width: 114px;
		height: 100%;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		background-image: url("../img/body-background.png");
		width: 114px;
		height: 100%;
	}
}
.hidden{
	display: none;
}
.wrp{
	height: 100%;
}
.btn{
	border: none;
	border-radius: 0;
	padding: 2rem 2.4rem;
}
.btn-dark{
	background-color: #a2d868;
	&:hover{
		background-color: #92c35d;
	}
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle{
	background-color: #92c35d;
	border-color: #2f3e1e;
}