.rating-all {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		color: #fff;
		font-size: 48px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 35px;
		h1 {
			font-size: 48px;
			font-weight: 600;
		}
	}
	&__table {
		width: 100%;
		margin-bottom: 40px;
	}
	&__add {
		margin-left: 40px;

	}
	&__indicator {
		display: inline-block;
		a {
			display: inline-block;
			width: 25px;
			height: 25px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__form{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__input{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		border: 0;
		border-bottom: 2px solid;
		outline: none;
		&:focus{

		}
	}
	&__button{
		position: relative;
		background-color: transparent;
		width: 100%;
		padding: 0 30px;
		color: #000;
		font-size: 21px;
		font-weight: normal;
		text-align: center;
		border: none;
		border-right: 3px solid #979797;
		&:last-child{
			border-right: 0;
		}
		.img{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 137px;
			margin-bottom: 40px;
			img{
			}
		}
	}
	.table{
		width: 100%;
	}
	thead{
		background-color: #fff;
		th{
			color: #000;
			font-size: 24px;
			font-weight: 600;
			padding: 15px;
		}
	}
	tbody{
		td{
			min-width: 56px;
			color: #fff;
			font-size: 24px;
			font-weight: 600;
			padding: 15px;
		}
	}
	.table-bordered th{
		border: none;
	}
	.table-bordered,
	.table-bordered td{
		border: 1px solid rgba(#fff,.1);
		border-bottom: 2px solid #fff;
	}
	.btn{
		font-size: 30px;
		padding: 0 20px;
	}
	.modal{
		&.photo{
			width: 100%;
			.modal-dialog{
				width: 100%;
				max-width: 100%;
				position: absolute;
				bottom: 0;
			}
			.modal-content{
				padding: 30px;
			}
		}
		.modal-dialog{
			max-width: 570px;
		}
		.modal-content{
			border-radius: 0;
			padding: 0 30px;
		}
		.close{
			position: absolute;
			top: 27px;
			right: 33px;
			opacity:1;
			outline: none;
			&:before{
				content: '';
				position: absolute;
				top: 14px;
				left: 3px;
				transform: rotate(45deg);
				background-color: #000;
				width: 25px;
				height: 2px;
			}
			&:after{
				content: '';
				position: absolute;
				top: 14px;
				left: 3px;
				transform: rotate(-45deg);
				background-color: #000;
				width: 25px;
				height: 2px;
			}
		}
		.modal-header{
			justify-content: center;
			border-bottom: 0;
		}
		.modal-title{
			font-weight: bold;
			text-align: center;
		}
	}
}