.rating{
	.table{
		width: 100%;
	}
	thead{
		background-color: #fff;
		th{
			color: #000;
			font-size: 24px;
			font-weight: 600;
			padding: 31px;
		}
	}
	tbody{
		td{
			color: #fff;
			font-size: 24px;
			font-weight: 600;
			padding: 31px;
		}
	}
	.table-bordered th{
		border: none;
	}
	.table-bordered,
	.table-bordered td{
		border: 1px solid rgba(#fff,.1);
		border-bottom: 2px solid #fff;
	}
}