.table{
	&__header{
		background-color: #fff;
		padding: 25px 69px;
		color: #000;
		font-size: 24px;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__tab{
		color: #000;
		font-size: 24px;
		opacity: .3;
		padding: 0 12px;
		margin: 0 4px;
		&.active{
			opacity:1;
		}
	}
	&__control{
		margin-top: 5px;
	}
	&__item{
		padding: 34px;
		border-bottom: 2px solid #fff;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__name{
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		width: 176px;
		flex-shrink: 0;
	}
	&__ok{
		position: relative;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-right: 7px;
		&.active{
			&:before{
				content: '';
				position: absolute;
				top: 13px;
				left: 4px;
				transform: rotate(45deg);
				background-color: #fff;
				width: 7px;
				height: 1px;
			}
			&:after{
				content: '';
				position: absolute;
				top: 11px;
				left: 8px;
				transform: rotate(-45deg);
				background-color: #fff;
				width: 12px;
				height: 1px;
			}
		}

	}
	&__close{
		position: relative;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 1px solid #fff;
		&:before{
			content: '';
			position: absolute;
			top: 11px;
			left: 6px;
			transform: rotate(45deg);
			background-color: #fff;
			width: 12px;
			height: 1px;
		}
		&:after{
			content: '';
			position: absolute;
			top: 11px;
			left: 6px;
			transform: rotate(-45deg);
			background-color: #fff;
			width: 12px;
			height: 1px;
		}
	}
	&__control{
		display: flex;
	}
	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
	}
	&__row{
		width: 42px;
	}
	input{
		display: block;
		background: transparent;
		width: 30px;
		color:#fff;
		font-size: 24px;
		font-weight: 600;
		outline: 1px solid #fff;
		border: none;
		font-family: inherit;
	}
	input[disabled]{
		background: transparent;
		border: none;
		outline: none;
		color:#fff;
		font-size: 24px;
		font-weight: 600;
	}
}