.new-tournament{
	position: relative;
	width: 100%;
	max-width: 600px;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
	&__btn{
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		text-decoration: none;
		background-color: #a2d868;
		width: 100%;
		height: 100px;
		color: #fff;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		border: none;
		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
	&__input{
		background-color: #fff;
		width: 100%;
		height: 100px;
		color: #979797;
		font-size: 36px;
		padding: 0 30px;
		margin-bottom: 25px;
	}
	&__add{
		display: flex;
		align-items: center;
		background-color: #fff;
		width: 100%;
		min-height: 100px;
		color: #000;
		font-size: 36px;
		text-align: left;
		text-decoration: none;
		padding: 0 30px;
		margin-bottom: 25px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: 30px;
			transform: translate(0,-50%);
			background-image: url("../img/new-tournament__icon.png");
			background-repeat: no-repeat;
			width: 32px;
			height: 32px;
		}
		&:hover{
			color: #000;
			text-decoration: none;
		}
	}
}