.tournament {
	width: 100%;
	max-width: 570px;
	margin: 0 auto;
	&__btn{
		position: relative;
		display: block;
		text-decoration: none;
		background-color: #a2d868;
		width: 100%;
		height: 100px;
		margin-bottom: 25px;
		padding: 0 30px;
		color: #fff;
		font-size: 36px;
		line-height: 100px;
		font-weight: bold;
		text-align: left;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: 30px;
			transform: translate(0,-50%);
			background-image: url("../img/new-tournament__icon.png");
			background-repeat: no-repeat;
			width: 32px;
			height: 32px;
		}
		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			width: 100%;
			height: 100px;
			margin-bottom: 25px;
			background-color: #fff;
			color: #000;
			font-size: 36px;
			font-weight: 600;
			line-height: 100px;
		}
		a{
			position: relative;
			display: block;
			padding: 0 30px;
			width: 100%;
			height: 100%;
			color: #000;
			text-decoration: none;
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				right: 30px;
				transform: translate(0,-50%);
				background-image: url("../img/new-tournament__icon.png");
				background-repeat: no-repeat;
				width: 32px;
				height: 32px;
			}
			&.ok{
				&:after{
					content: '';
					position: absolute;
					top: 50%;
					right: 30px;
					transform: translate(0,-50%);
					background-image: url("../img/ok.png");
					background-repeat: no-repeat;
					width: 38px;
					height: 27px;
				}
			}
		}
	}
}